.vscode/
configs/lm
configs/mics

evaluation
inference/mics
inference/inference_a2m_body.py
inference/inference_expertnum2_a2m_body_bk.py
mics/
model_files/
model_files_bk
models/
paper_result
preprocess
speech_related/cosyvoice
speech_related/glm-4-voice-decoder
speech_related/Matcha-TTS
speech_related/speech_tokenizer
test_output
training
ViBES-Face

datasets/
# OS specific
.DS_Store
